body
{
    font-family: 'Avenir', sans-serif;
    overflow: hidden;
}

/**
* Header
 */

.custom-padding
{
    padding-top: 3.71vh;
    padding-left: 8.125vw;
    padding-right: 7.77vw;
}

ol
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu
{
    float: right;
    /*display: block;*/
    text-align: center;
}

.menu li
{
    display: inline-block;
    padding: 0 24px;
}

.menu li a
{
    text-decoration: none;
    color: #F86262;
    opacity: 0.4;
}

.menu li a:hover
{
    opacity: 1;
}

.logo
{
    display: flex;
    align-items: center;
}

.logo li
{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.logo li.point
{
    color: #F86262;
}

.logo li a
{
    color: #333333;
}

.name
{
    display: inline-block;
    align-items: center;
    margin-left: 25px;
}

a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

/**
* Content
 */

.home-content
{
    display: flex;
    flex-direction: column;
    padding-left: 27.84vw;
}

h1
{
    /*font-size: 120px;*/
    font-size: 6.250em;
    font-weight: 500;
    color: #333333;
    margin-top: 23.14vh;
}

h2
{
    top: -90px;
    padding-right: 12px;
    color: #333333;
    font-size: 2.500em;
}

h2.colored_text
{
    color: #F86262;
}

.content
{
    /*display: flex;*/
}

.phrase h2
{
    display: inline-block;
}

button
{
    margin-top: 5.34vh;
    margin-left: 12.84vw;
    background: #F86262;
    border-radius: 12.37vh;
    width: 14.93vw;
    height: 7.79vh;
    color: white;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

button img
{
    margin-left: 0.83vw;
}

.social
{
    margin-left: 15.80vw;
    margin-bottom: 131px;
}

.social img
{
    margin-top: 6.99vh;
    margin-right: 1.25vw;
}

/**
* Footer
 */

footer
{
    margin-bottom: 3.34vh;
    /*margin-top: 33.41vh;*/
    /*margin-top: 10%;*/
    margin-left: 8.125vw;
    margin-right: 8.125vw;
    font-weight: normal;

}

footer .author a
{
    color: #F86262;
}

.page-title-about h1
{
    font-size: 2.500em;
    display: inline-block;
    margin-top: 22vh;
}

.page-title-about h1.colored_text
{
    margin-left: 1vw;
    color: #F86262;
}

.about-content .page-title-about
{
    margin-left: 29.51vw;
}

.about-content img
{
    margin-top: -1vh;
    margin-left: 12.91vw;
}

.presentation
{
    width: 55.13vw;
    height:  20.42vh;
    font-size: 1.500em;
    margin-left: 29.51vw;
    margin-top: -20vh;
    line-height: 4.08vh;
    /*flex-wrap: wrap;*/
}

.presentation .bold-name
{
    font-weight: 800;
}

.colored_text
{
    color: #F86262;
}

.content .page-title
{
    margin-left: 15.20vw;
}

.page-title h1
{
    font-size: 2.500em;
    display: inline-block;
    margin-top: 12vh;
}

.page-title h1.colored_text
{
    margin-left: 1vw;
    color: #F86262;
}

.content img
{
    margin-top: 12.37vh;
    margin-left: 12.91vw;
}

strong
{
    font-weight: 800;
}

p
{
    white-space: pre-line;
}