body
{
    margin: 0;
    padding: 0;
    font-family: 'Avenir', sans-serif;
}

/**
* Header
 */

.custom-padding
{
    padding-top: 74px;
    padding-left: 117px;
    padding-right: 123px;
}

ol
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu
{
    float: right;
    /*display: block;*/
    text-align: center;
}

.menu li
{
    display: inline-block;
    padding: 0 24px;
}

.menu li a
{
    text-decoration: none;
    color: #F86262;
}

.logo li
{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.logo li.point
{
    color: #F86262;
}

.logo li a
{
    color: #333333;
}

.name
{
    display: inline-block;
    align-items: center;
}

a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

/**
* Content
 */

.content
{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

h1
{
    font-size: 120px;
    color: #333333;
}

h2
{
    top: -90px;
    padding-right: 12px;
    color: #333333;
    font-size: 50px;
}

h2.white_text
{
    padding-left: 20px;
    padding-right: 72px;
    color: white;
    /*border: solid #F86262;*/
    background-color: #F86262;
}

.content
{
    /*display: flex;*/
}

.phrase h2
{
    display: inline-block;
}

button
{
    margin-top: 125px;
    margin-left: 300px;
    background: #F86262;
    border-radius: 3px;
    width: 216px;
    height: 66px;
    color: white;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    /*left: 43.96%;*/
    /*right: 45.28%;*/
    /*top: calc(50% - 33px/2 + 159.5px);*/
}

.arrow img
{
    left: 55.14%;
    right: 43.47%;
    top: -64.55%;
    bottom: 33.5%;
}

.social
{
    margin-left: 280px;
    margin-bottom: 131px;
}

.social img
{
    margin-top: 145px;
    margin-right: 45px;
}