body
{
    font-family: 'Avenir', sans-serif;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

/**
* Header
 */

.custom-padding
{
    padding-top: 3.71vh;
    padding-left: 8.125vw;
    padding-right: 7.77vw;
}

ol
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu
{
    float: right;
    /*display: block;*/
    text-align: center;
}

.menu li
{
    display: inline-block;
    padding: 0 24px;
}

.menu li a
{
    text-decoration: none;
    color: #F86262;
    opacity: 0.4;
}

.menu li a.highlighted
{
    opacity: 1;
}

.menu li a:hover
{
    opacity: 1;
}

.logo
{
    display: flex;
    align-items: center;
}

.logo li
{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.logo li.point
{
    color: #F86262;
}

.logo li a
{
    color: #333333;
}

.name
{
    display: inline-block;
    align-items: center;
    margin-left: 25px;
}

a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

/**
* Content
 */

.home-content
{
    display: flex;
    flex-direction: column;
    padding-left: 27.84vw;
}

h1
{
    /*font-size: 120px;*/
    font-size: 6.250em;
    font-weight: 500;
    color: #333333;
    margin-top: 23.14vh;
}

h2
{
    top: -90px;
    padding-right: 12px;
    color: #333333;
    font-size: 2.500em;
}

h2.colored_text
{
    color: #F86262;
}

.content
{
    /*display: flex;*/
}

.phrase h2
{
    display: inline-block;
}

button
{
    margin-top: 5.34vh;
    margin-left: 12.84vw;
    background: #F86262;
    border-radius: 12.37vh;
    width: 14.93vw;
    height: 7.79vh;
    color: white;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    font-size: 1.500em;
    cursor: pointer;
}

button img
{
    margin-left: 0.83vw;
}

.social
{
    margin-left: 15.80vw;
    margin-bottom: 131px;
}

.social img
{
    margin-top: 6.99vh;
    margin-right: 1.25vw;
}

/**
* Footer
 */

footer
{
    margin-bottom: 3.34vh;
    /*margin-top: 33.41vh;*/
    /*margin-top: 10%;*/
    /*margin-left: 8.125vw;*/
    /*margin-right: 8.125vw;*/
    font-size: 0.688em;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    width: 100vw;

}

footer .author a
{
    color: #F86262;
}

footer ol
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ol div
{
    margin: 0 8.125vw;
}

/**
* About
 */

.page-title-about h1
{
    font-size: 2.500em;
    display: inline-block;
    margin-top: 22vh;
}

.page-title-about h1.colored_text
{
    margin-left: 1vw;
    color: #F86262;
}

.about-content .page-title-about
{
    margin-left: 29.51vw;
}

.about-content img
{
    margin-top: -2vh;
    /*margin-left: 12.91vw;*/
    margin-left: 18vw;
}

.presentation
{
    width: 55.13vw;
    height:  20.42vh;
    font-size: 1.125em;
    /*margin-left: 29.51vw;*/
    margin-left: 34.02vw;
    margin-top: -20vh;
    line-height: 3.09vh;
    /*flex-wrap: wrap;*/
}

.presentation .bold-name
{
    font-weight: 800;
}

.colored_text
{
    color: #F86262;
    white-space: pre-line;
}

/**
* Watch
 */

a.second-img
{
    margin-left: 15.20vw;
}

/**
* Other pages
 */

.content .page-title
{
    margin-left: 15.20vw;
}

.page-title h1
{
    font-size: 2em;
    display: inline-block;
    margin-top: 9vh;
}

.page-title h1.colored_text
{
    margin-left: 1vw;
    color: #F86262;
}

.content img
{
    margin-top: 12.37vh;
    margin-left: 15.20vw;
}

strong
{
    font-weight: 800;
}

p
{
    white-space: pre-line;
}

.underlined_text
{
    text-decoration: underline;
}

.title
{
    font-size: 1.250em;
    font-weight: 500;
    line-height: 3.34vh;
}

/**
* Contact
 */

form
{
    margin-top: -64vh;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
}

.contact-me
{
    margin-left: 15.60vw;
    margin-top: 42.45vh;
}

input[type=submit]
{
    background: #F86262;
    border-radius: 12.37vh;
    width: 8.75vw;
    height: 5.81vh;
    color: white;
    font-weight: 800;
    font-size: 1.125em;
    cursor: pointer;
    margin-right: 25vw;
}

input
{
    line-height: 3.34vh;
}

.underline
{
    border-bottom: 0.063em #333333;
}

textarea
{
    width: 40.97vw;
    height: 18.75vh;
    line-height: 3.34vh;
    resize: none;
    /*background-image: linear-gradient(transparent, transparent 24px, #E7EFF8 0px);*/
}

input[placeholder]
{
    color: #F86262;
}

input[type=text]::placeholder
{
    border-bottom: #333333;
}